{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <form action="update_main_database" method="post">
            <div class="form-group">
                <label>Report</label>
                <input name="report" type="text" autocomplete="off" class="form-control" placeholder="Enter Report"
                       required autofocus>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}
